<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Rein</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-light.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Rein</h1>
        <p>Decentralized freelance market</p>

<p>Select language:

<select id="lang" onchange="go_to()">
  <option value="/en">English
  <option value="/fi">Filipino
  <option selected value="/hi">Hindi
  <option value="/lv">Latvian
  <option value="/ru">Russian
</select>
</p>
<script>
function go_to() {
    window.location.href = document.getElementById("lang").value;
}
</script>

        <p class="view"><b>Get Started</b><br />
        <a href="https://github.com/ReinProject/python-rein/archive/v0.2.4-alpha.zip"><button style="margin: 10px;">Download Client (v0.2.4-alpha)</button></a><br />
        <a href="https://github.com/ReinProject/causeway/archive/master.zip"><button style="margin:10px;">Download Server (git master)</button></a></p>

        <p class="view"><b>Docs</b><br />
        <a href="https://github.com/ReinProject/python-rein/blob/master/doc/HOWTO-setup-rein.md">How to Setup Rein</a><br />
        <a href="{{ url_for('static', filename='files/rein_order_flow.txt') }}">Order flow</a> (ASCII art) (<a href="{{ url_for('static', filename='files/rein_order_flow.png') }}">PNG</a>)<br />
        <a href="{{ url_for('static', filename='files/rein_object_model.txt') }}">Object model</a> (ASCII art) (<a href="{{ url_for('static', filename='files/rein_object_model.png') }}">PNG</a>)</p>
        <a href="https://github.com/ReinProject/causeway/blob/master/doc/server_setup.md">Server setup</a><br />

        <p class="view"><b>Videos</b><br />
        <a href="https://www.youtube.com/watch?v=SxarcArLVds">Part 1: Overview, purpose, features</a><br />
        <a href="https://www.youtube.com/watch?v=PaF5URG2dLc">Part 2: Install and Setup</a><br />
        <a href="https://www.youtube.com/watch?v=Qm-BOxf7VFI">Part 3: Order Flow, A Routine Job</a><br />
        <a href="https://www.youtube.com/watch?v=uDjPP9ToF8Q">Part 4: Dispute and Resolution</a><br />
        <a href="https://www.youtube.com/playlist?list=PLIe7tQczGXJSCcXGUsLdbscTBZTxN5m9N"><small>Playlist</small></a></p>

        <p class="view"><b>Standalone web-apps</b><br />
        <a href="{{ url_for('static', filename='bitcoin-signature-tool/index.html') }}">Bitcoin Signature Tool</a><br />
        <a href="{{ url_for('static', filename='coinbin/index.html') }}">Coinb.in for Rein</a></p>

        <p class="view"><b>Community / Dev</b><br />
        Github: <a href="https://github.com/ReinProject">ReinProject</a><br />
        IRC: #rein on freenode<br />
        Reddit:  <a href="https://reddit.com/r/Rein">r/Rein</a><br />
        Twitter: <a href="https://twitter.com/ReinProject">@ReinProject</a><br />
        </p>


      </header>
      <section>

<h2>स्व नियोजित व्यक्तियों के लिए बिटकॉइन पहले जैसे कभी नहीं।</h2>
      
<h3>
<a id="why-rein" class="anchor" href="#why-rein" aria-hidden="true"><span class="octicon octicon-link"></span></a>विशेषताएं</h3>
    <ul>
        <li>एकाधिकहस्ताक्षर (Multisig) निलंब मध्यस्थों, असामी, और स्व नियोजित के लिए पैसे सुरक्षित रखेंगे।</li>
        <li>विशेषज्ञ -प्रतिनिधि ECDSA योजना सुरक्षा और सुविधा प्रदान करता है।</li>
        <li>एक विकेन्द्रीकृत सूक्ष्महोस्टिंग तंत्र स्व नियोजित व्यक्तियों और असामी को मिलाएगा।</li>
    </ul>

<h3><a id="design-principles" class="anchor" href="#design-principles" aria-hidden="true"><span class="octicon octicon-link"></span></a>योजना के नियम</h3>

<p><b>ग़ैरमज़बूत व्यापार </b> - Pभुगतान दो में से तीन और अनिवार्य एकाधिकहस्ताक्षर खातों में जमा हो जाती है। हस्ताक्षर जवाबदेही और योग्यता निर्धारण और प्रतिष्ठा के लिए एक आधार प्रदान करते हैं। </p>

<p><b>उपनाम के लिए </b> - Reरेन (Rein) को क्रिप्टो के बाहर पहचान के प्रमाण की आवश्यकता नहीं होती है। आप एक या जितना चाहे उतने पहचान बना सकते हैं, हालांकि, उपकरण अनिवार्य रूप से प्रतिष्ठा के इर्दगिर्द बनाया जाता है। सामान्य ज्ञान  कहता है की वो जिनके पास स्थापित, सकारात्मक पिछला कार्य निष्पादन कीर्तिमान है, उन लोगों को सबसे अनुकूल काम और उत्पादन का लैब उठाएंगे ।  </p>

<p><b>अभिनव @ किनारों के लिए </b> - 
एक नई पी-२-पी (p2p) तंत्र का आयोजन करने के बजाय, रेन Rein अंतरजाल से प्रभावित होकर बनाया गया है। सूक्ष्महोस्टिंग के सर्वर बिना स्वार्थ के काम करते हुए कीमत और गुणवत्ता पर प्रतिस्पर्धा करते है। सर्वर का तर्क ज्यादातर सेवा प्रदाताओं को छोड़कर कम से कम रखा जाता है। यह सिद्धांत विभिन्न आदेशों का पालन, लेन-देन के ढंग, और सेवाओं का समर्थन करने के लिए रेन (Rein) को सक्षम बनाएगा । </p>

<p><b>विकसित करने वाले के लिए </b> - 
विकेन्द्रीकरण। ECDSA प्रमाणन। सूक्ष्महोस्टिंग। एकाधिकहस्ताक्षर निलंब। आप इस पर काम कैसे  नहीं कर सकते?  
 <a href="https://github.com/ReinProject/python-rein/">कूट-भाषा की जाँच करें</a>
।
</p>

      </section>
    </div>
    <script src="{{ url_for('static', filename='js/scale.fix.js') }}"></script>
    
  </body>
</html>
